<div class="d-flex justify-content-center my-5">
  <% @grid.each_with_index do |letter, index| %>
  <div class="letter" style="--animation-order: <%= index + 1 %>;">
    <%= letter %>
  </div>
  <% end %>
</div>

<form action="score" method="post" data-turbo="false">
  <div id="attempt" class="input-group">
    <input type="text" name="attempt" class="form-control form-control-lg" placeholder="Type your attempt">
    <input class="btn btn-lg btn-primary" type="submit">
  </div>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
</form>
